body{
    background: url(img/bgg.png);
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    background: #ffc400;
    background: -moz-linear-gradient(top, #ffc400 0%, #FF9800 100%);
    background: -webkit-linear-gradient(top, #ffc400 0%,#FF9800 100%);
    background: linear-gradient(to bottom, #ffc400 0%,#FF9800 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc400', endColorstr='#FF9800',GradientType=0 );
    padding: 5px 0;
}
.content {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
h1.logo {
    margin: 5px;
}
.ticket{
    width: 300px;
    height: 100%;
    background: black;
    color: white;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 2px 2px #FFAB00;
    box-shadow: 0 0 10px 1px #FFAB00;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
td{
    border: 1px solid #FFAB00;
    min-width: 30px;
}
.ratio td{
    cursor: pointer;
}
span.matchId {
    width: 26px;
}
span.matchTeams {
    width: 220px;
}

.match{
    display: flex;
    flex-direction: row;
}
.match span{
    border: 1px solid #FFAB00;
    text-align: center;
    color: white;
    text-shadow: 0px 3px 8px #2a2a2a;
    background: black;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: flex;
}
.match span:first-child {
    padding: 10px 10px;
    align-items: center;
}
.match span:nth-child(2) {
    width: 230px;
    align-items: center;   
    justify-content: center;
}
.match span:nth-child(3) {
    width: 164px;
}
.match span:nth-child(4) {
    width: 120px;
}
.match span:nth-child(5) {
    width: 170px;
}
span span {
    border-left: 2px solid #FFAB00 !important;
}
.title span:first-child {
    width: 40px;
}
.title span:nth-child(2) {
    width: 221px;
}
.title span:nth-child(3) {
    width: 154px;
}
.title span:nth-child(4) {
    width: 110px;
}
.title span:nth-child(5) {
    width: 159px;
}

.title span {
    border: 1px solid #FFAB00;
    text-align: center;
    color: white;
    text-shadow: 0px 3px 8px #2a2a2a;
    background: black;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    padding: 5px 5px;
}

.title {
    display: flex;
}
.double label {
    font-size: 10px;
    text-align: center;
}
span.double {
    display: flex;
    flex-direction: column;
}
span.odd {
    width: 100%;
}


/*---------------------------TICKET-----------------------------------*/
.oddDetails {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1px solid #FFAB00;
}
.oddDetails:last-child{
    border-bottom: none;
}
.betTitle {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
    background: #ffab00;
    background: -moz-linear-gradient(top, #ffab00 0%, #a06e1c 100%);
    background: -webkit-linear-gradient(top, #ffab00 0%,#a06e1c 100%);
    background: linear-gradient(to bottom, #ffab00 0%,#a06e1c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffab00', endColorstr='#a06e1c',GradientType=0 );
    text-shadow: 1px 1px 1px black;
}
.betDetails {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}


.odd.active {
    background-color: #FFAB00;
    color: black;
}
.oddBox {
    display: flex;
    width: 100%;
}
.ticket h1 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
.bet {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    background: black;
    border-radius: 0 0 20px 20px;
}
.betInput {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #ffab00;
}
.betInput:last-child{
    border: none;
}
.betInput:first-child input {
    background: black;
    color: white;
}
.bet input {
    width: 50%;
    background: #ffab00;
    border: 2px solid #ffab00;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.bet span {
    width: 50%;
    text-shadow: 1px 1px 1px black;
}
.matchTable{
    height: 100%;
    box-shadow: 0 0 2px 2px #FFAB00;
}
